recursive-include src embed-gui-x64.exe embed-gui-x86.exe embed-x64.exe embed-x86.exe embed3-gui-x64.exe embed3-gui-x86.exe embed3-x64.exe embed3-x86.exe Microsoft.VC90.CRT.manifest-x64 Microsoft.VC90.CRT.manifest-x86 msvcm90.dll-x64 msvcm90.dll-x86 msvcp90.dll-x64 msvcp90.dll-x86 msvcr90.dll-x64 msvcr90.dll-x86
